//
   Created by jay on 4/23/17.

html
    head
        link(rel="stylesheet", href="css/course.css")
        link(rel="stylesheet", href="css/main.css")
        title= title
        body.chat

            div.chat__sidebar
                h3 People
                div#users

            div.chat__main

                ol#messages.chat__messages

                div.chat__footer
                    form#message-form
                        input(name="message", type="text", placeholder='Message', autofocus, autocomplete="off")
                        button 'Send'
                    button#send-location 'Send Location'

            script(src="/socket.io/socket.io.js")
            script(src="/js/libs/jquery-3.2.1.min.js")
            script(src="/js/libs/moment.js")
            script(src="/js/index.js")
        footer